@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("reset.css");
@import url("login.css");

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: #2B2A4C;
  text-transform: capitalize;
}